{{page-title "MyEmberProject"}}
<h1 class="page-title text-center">My Ember Applications</h1>
<p class="text-center">Total Click Count: {{this.userReports.count}}</p>
<BsNav
  @type="pills"
  @justified={{true}}
  @stacked={{false}}
  @fill={{false}} as |nav|
>
  <nav.item>
    <nav.link-to @route="index">Home</nav.link-to>
  </nav.item>
  <nav.item>
    <nav.link-to @route="about">About</nav.link-to>
  </nav.item>
  <nav.item>
    <nav.link-to @route="clients.index" @query={{hash sortBy="name"}}>Clients</nav.link-to>
  </nav.item>
  <nav.item>
    <nav.link-to @route="login">Login</nav.link-to>
  </nav.item>
</BsNav>

{{!--
    Multi line
    Ember template comment
--}}

{{outlet}}
